// colors
$dark:#000000;
$darkGrey:#111111;
$brightYellow:#d4ff00;
$borderDark: rgba(255, 255, 255, 0.15);
$whiteIsh: #ffffff;
// font
$font-small: 0.875rem;
$font-medium: 1.125rem;
$font-large: 1.25;
$font-extra-large: 3.25;